# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project-defined
*.c
!microbenchmark/*.c
!microbenchmark/*/*.c
!benchmark/*.c
!benchmark/*/*.c
*.bc
*.ll
*.so
*.bak
*.swp
*.tar.gz
finalproject/

# Latex
*.bbl
*.blg
*.aux
*.log
*.dvi
*.ps
*.pdf
*.eps

LiveAnalysis.h
live.cpp

pointer1
pointer2
